<div class="taiku">
  <div class="taiku0">
          <div class="taiku1">
            <%= "美 味 し い ご 飯 を 楽 し も う"%>
           </div>
          <div class="taiku2">
            <%= "テイクアウト掲載アプリ"%>
           </div>
          <%=link_to "deliy foo", menus_path, class: :taiku3 %>


  </div>
</div>

