/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
header,
body,
ul,

h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
  background-color: #e4f1aa;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  height: 140px;
  background-color: #8deba1;
  padding: 20px 0;
  margin-bottom: 0px;
  border-top-left-radius: 100px 40px;
  border-top-right-radius: 30px 70px;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.logo1 {
  width: 130px;
  height: 123px;
}

.logo2 {
  width: 120px;
  height: 123px;
}

.logo3 {
  width: 120px;
  height: 110px;
  margin-top: 20px;
}

.logo4 {
  width: 150px;
  margin-left: 50px;
  height: 110px;
}

.logol {
  width: 130px;
  height: 123px;
}

.namel {
  display: flex;
}

.name1 {
  color: #080808;
  font-size: 80px;
  width: 200%;
  padding: 0%;
  margin: 0%;
  text-align: left;

  font-family: 'Rampart One', cursive;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: rgb(27, 233, 88);
  background: #e5fa87;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;

  margin        : auto;                 /* サンプル用 中央寄せ */
  box-sizing    : border-box;           /* 罫線も含む長さ      */
  width         : 82px;                /* BOXの幅             */
  height        : 56px;                /* BOXの高さ           */
  background    : #8deba1;              /* BOXの背景色         */
  border        : 4px solid #000000;    /* 枠線の指定          */
  border-radius : 94px 48px 30px 21px / 54px 8px 68px 81px;               /* 角丸の指定          */
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */
.menusindex{
  border: solid5px black;
}

.item-lists{
  display: flex;
  overflow: scroll;
}

.lists{
  overflow: scroll;
}

.lists1{
  width: 100%;
  overflow: scroll;
}


.list{
  width: 220px;
  height: 480px;
  background-color: #e5fa87;
  border-radius: 20px;
  margin-left: 30px;
}

.list1{
  width: 220px;
  height: 480px;
  background-color: #f5b87c;
  border-radius: 20px;
  margin-left: 30px;
  border: solid 8px black;
  border-radius: 30px 100px 30px 100px / 100px 30px 100px 30px;
}

.item-setumei{
  margin-top: 5px;
}

.item-name1{
  font-size: 40px;
  padding-bottom: 5px;
  font-weight: bold;
}


.car{
  width: 220px;
  height: 480px;
  background-color: #e5fa87;
  border-radius: 20px;
  margin-left: 30px;
}

.item-name{
  font-size: 40px;
  padding-bottom: 5px;
  font-family: 'RocknRoll One', sans-serif;
  font-weight: bold;
}

.star-btn{
  margin: 5px;
  font-family: 'RocknRoll One', sans-serif;
}

.star-btn1{
  margin: 5px;
  font-family: 'RocknRoll One', sans-serif;
}


.item-price{
  padding-bottom: 0px;
}

.item-img {
  text-align: center;
  height: 200px;
  width: 250px;
  border-radius: 100px 20px 30px 40px / 100px 10px 50px 10px;
}
.item_img1 {
  text-align: center;
  height: 200px;
  width: 220px;
  border-radius: 100px 100px 100px 100px ;
  border: solid 5px rgb(243, 241, 241);
}
.item_img0 {
  text-align: center;
  height: 200px;
  width: 220px;
  border-radius: 100px 100px 100px 100px ;
  border: solid 5px rgb(2, 2, 2);
}


.item-info{
text-align: center;
height: 300px;
}

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(50vh - 161px);
}
.index{
  font-size: 45px;
  margin-left: 5%;
  font-weight: bold;
}

.resipi {
  display: flex;
    overflow: scroll;
}

.resipi1 {
  border: solid 10px black;
  overflow: scroll;
}

.card2 {
  width: 250px;
  height: 390px;
  margin-left: 60px;
  margin-bottom: 40px;
  border        : 6px solid #000000;    /* 枠線の指定          */
 box-sizing: border-box;
 background-color: #f5cc7f;
 border-radius: 100px 80px 100px 100px / 20px 10px 30px 30px;
}
.card {
  width: 400px;
  margin-left: 15px;
  margin-bottom: 40px;
  border        : 6px solid #000000;    /* 枠線の指定          */
 box-sizing: border-box;
 background-color: #e3ee0e;
 border-radius: 40px 80px 30px 40px / 100px 10px 50px 10px;
}
.card__img2 {
  width: 250px;
  height: 200px;
  margin-bottom: 16px;
  border-radius: 40px 80px 30px 40px / 100px 10px 90px 100px;
}
.card__img {
  margin-bottom: 16px;
  border-radius: 40px 80px 30px 40px / 100px 10px 90px 100px;
}
.card__title {
  display: block;
  font-size: 35px;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: center;
}
.card__summary {
  font-size: 16px;
  text-align: center;
}
.card__summary1 {
  font-size: 20px;
  text-align: center;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}

/* 詳細ページ */
.page-heading{
display: left;
justify-content: center;
}

.prototype__wrapper{
  min-height: calc(100vh - 161px);
}
.prototype__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 40px;
  color: #ffd0ce;
  text-align: center;
  text-decoration: underline;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #8deba1;
  text-decoration: none;
  user-select: none;
  border: 1px #8deba1 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 10px 4px;
}

.prototype__btn:hover{
  color: #8deba1;
  background: rgb(242, 218, 146);
}

.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}

.uz_hennsyuu{
  border: solid 1px #0c0c0c;
}
.uz_hennsyuu:hover{
  color: #8deba1;
  background: rgb(242, 218, 146);
}
.henns {
  margin-bottom: 30px;
}

.toiawase3{
 margin: 50px;
 width: 500px;
}


.toiawase2{
}

.toiawase1{
  display: flex;
  align-items: flex-end;
}

.toiawase{
  font-size: 25px;
  padding: 10px;
  margin: 30px;
  border: solid 5px white;
  border-radius: 100%;
  background-color: #f3ecdc;
  text-align: center;
}

.table{
 font-size: 25px;
}

table tr{
  background-image: linear-gradient(40deg, #fce043 0%, #fb7ba2 74%);
  border        : 4px solid #fce043;    /* 枠線の指定          */
  text-align: center;
}

table tr:last-child *{
  border-bottom: none;
}

.table__col1{
  text-align: center;
  border: solid 2px #fce043;
  color: white;
  background-image: linear-gradient(40deg, #fce043 0%, #fb7ba2 74%);
  padding: 10px 0;
}

.table__col2{
  text-align: center;
  border: solid 2px #fce043;
  color: white;
  background-image: linear-gradient(40deg, #fce043 0%, #fb7ba2 74%);
  padding: 10px 0;
}


.prototype__image{
  background-color: rgb(247, 216, 185);
  border: solid 30px rgb(247, 244, 244);
  border-radius: 30px;
}

.syuhinimage{
  border-radius: 50px;
 height: 20%;
 width: 80%;
 text-align: center;
 margin-left: 40px;
}
/* フッター */

.footer {
  background-color: rgb(140, 235, 161);
  padding: 10px 0;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  display: flex;
  justify-content: center;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}

.taiku {
  overflow: scroll;
  height: 100%;
  background-image: linear-gradient(40deg, #e6f51a 0%, #fb7ba2 74%);
}

.taiku0 {
  height: calc(100vh - 190px);
  position: relative;
}

.taiku1 {
  margin: 0 200px;
  font-size: 50px;
  text-align: center;
  color: rgb(3, 3, 3);
  font-family: 'Rampart One', cursive;
}

.taiku2 {
  font-size: 30px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.taiku3 {
  font-size: 80px;
  font-family: 'Kaisei HarunoUmi', serif;
  margin: 0 547px;
}

.taiku3:hover{
  color: #8deba1;
  
}

.jpeg1{
  height: 20%;
  width: 1440px;
  position: absolute;
}

.index2{
  color: rgb(215, 29, 174);
  font-size: 55px;
  margin-left: 25%;
  font-weight: bold;
  -webkit-filter:drop-shadow(10px 10px 1px rgba(165, 78, 146, 0.2));
  -moz-filter:drop-shadow(10px 10px 1px rgba(160, 90, 123, 0.2));
  -ms-filter:drop-shadow(10px 10px 1px rgba(182, 95, 153, 0.2));
  filter:drop-shadow(10px 10px 1px rgba(171, 118, 150, 0.2));
}